<div class="modal-dialog modal-confirm">
  <div class="modal-content">
    <div class="modal-header"
         [hidden]="isProcessing"
         *ngIf="state && !isError">
      <div class="success-icon-box">
        <i class="material-icons success-icon">&#xE876;</i>
      </div>
      <h4 class="modal-title">
        <span i18n>Success</span>
      </h4>
    </div>
    <div class="modal-header"
         [hidden]="isProcessing"
         *ngIf="!state || isError">
      <div class="fail-icon-box">
        <i class="material-icons fail-icon">&#xE5CD;</i>
      </div>
      <h4 class="modal-title">
        <span i18n>Fail</span>
      </h4>
    </div>
    <div class="modal-body">
      <ng-container *ngIf="state">
        <div *ngIf="isProcessing">
          <div class="text-center">
            <div class="spinner-border text-primary"></div>
          </div>
          <div class="text-center">
            <span i18n>Processing buying a voucher.</span><br>
            <span i18n>Please wait...</span>
          </div>
        </div>

        <div class="text-center"
             *ngIf="isSuccess"
             i18n>Your payment was successful.</div>
      </ng-container>
      <p *ngIf="!state || isError"
         class="text-center"
         i18n>Something went wrong, please try again or contact support.</p>
    </div>
    <!-- <div class="modal-footer">
      <button *ngIf="state"
              class="btn btn-success btn-block"
              data-dismiss="modal">OK</button>
      <button *ngIf="!state"
              class="btn btn-danger"
              data-dismiss="modal">Cancel</button>
    </div> -->
  </div>
</div>
